.mask-content >  h3,strong { font-size: 24px;}
.mask-content > p {color: #888;}
.total_wrap {overflow: hidden; margin-top: 143px;}
.total_left {float: left;}
.total_right {float: right;}
.total_button > button{width: 50%; padding: 20px; font-size: 18px;}
.total_button > .total_left {color: #333; background-color: #fff; border-color: #ccc; border:1px solid #888; border-right: none;} 
.total_button > .total_right {color: #fff; background-color: #337ab7; border-color: #2e6da4; border: 1px solid #2e6da4; border-left: none;}
.total_button > .total_right:hover {background-color:#286090; border-color: #204d74; color: #fff;}
.total_button > .total_left:hover {background-color:#e6e6e6; border-color: #204d74; color: #adadad;}
.box_reply{background-color: #f5f5f5; padding: 15px; overflow: hidden; border: 1px solid #ddd;}
.box_left {float: left; width: 10%;}
.box_right {float: right; width: 90%; overflow: hidden;}
.wrap_reply {margin-top: 40px;}
.reply_left {float: left;}
.reply_right {float: right;}
.input_reply {float: left;}
.input_reply > input { display: block; padding: 5px; margin: 5px 0px;  border: 1px solid #ccc;}
.button_reply {float: right;}
.button_reply > button {color: #fff; background-color: #5bc0de; border-color: #46b8da; padding: 6px 12px; font-size: 14px}
.reply_right > a > span {color:#777;}